
  .star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    animation: shooting-star linear infinite;
  }
  
  @keyframes shooting-star {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translate(1vw, 210vh);
      opacity: 0;
    }
  }