.cuerpo_mision{
    display: felx;
    flex-direction: row;
}
.cuerpo_mision .titulo_nuestro_enfoque{
    background-color: #04032B;
    color: white;
    font-size: 2em;
}
.cuerpo_mision .contenedor_principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuerpo_mision .contenedor_principal .contenedor_secundario{
    background-color: #04032B;
    margin: 50px 100px;
    width: 400px;
    height: 320px;
    color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}
.cuerpo_mision .contenedor_secundario .titulo{
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: solid white 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}
.cuerpo_mision .contenedor_secundario .contenido{
    width: 400px;
    height: 180px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo_mision .contenedor_secundario .contenido p{
    
}

/*diseño para el cuerpo de proyectos despega bolivia*/

.cuerpo_proyectos{
    display: flex;
    flex-direction: column;
    
}
.cuerpo_proyectos .titulo{
    font-size: 3em;
    background-color: #04032B;
    color: white;
}
.cuerpo_proyectos .lista_proyectos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #04032bd9;
}
.cuerpo_proyectos .lista_proyectos .proyecto{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuerpo_proyectos .lista_proyectos .titulo_proyecto{
    color: white;
    padding: 0px 10px 10px 10px;
    font-size: 20px;
}
.cuerpo_proyectos .lista_proyectos .proyecto img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 25px;
}

/*DISEÑO DEL CUERPO DE PROGRAMAS DE DESPEGA BOLIVIA*/

.cuerpo_programas{
    display: flex;
    flex-direction: column;
}
.cuerpo_programas .titulo{
    font-size: 3em;
    background-color: #04032B;
    color: white;
}
.cuerpo_programas .principal_contenedor{
    padding: 25px 100px;
    background-color: #04032bd9;
}
.cuerpo_programas .principal_contenedor .contenedor{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.cuerpo_programas .principal_contenedor .contenedor .logo_programa{
    background-color: white;
    border-radius: 50%;
    margin-right: 30px;
}
.cuerpo_programas .principal_contenedor .contenedor .logo_programa img{
    width: 150px;
    max-width: 250px;
    border-radius: 50%;
}
.cuerpo_programas .principal_contenedor .contenedor .contenido{
    color: white;
}
.cuerpo_programas .principal_contenedor .contenedor .contenido .titulo_contenido{
    font-size: 2em;
    margin-bottom: 10px;
}
.cuerpo_programas .principal_contenedor .contenedor .contenido .desc_contenido{
    font-size: 18px;
}