.espacio{
    background-image: url(../img/Fondos/fondo_estrellado.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.cuerpo_mision{
    position: relative;
}
.cuerpo_mision .titulo_nuestro_enfoque{
    color: #F97316;
    font-weight: bold;
    font-size: 2em;
    border-bottom: 2px white solid;
}
.cuerpo_mision .contenedor_principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cuerpo_mision .contenedor_principal .contenedor_img_astronauta {
    max-width: 600px;
    height: 300px;
}
.cuerpo_mision .contenedor_principal .contenedor_img_astronauta img{
    max-width: 600px;
    height: 300px;
    animation-name: up_down;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.cuerpo_mision .contenedor_principal .contenedor_secundario{
    background-color: #04032bb3;
    width: 400px;
    height: 320px;
    color: #F97316;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 50px 0px;
}
.cuerpo_mision .contenedor_principal .contenedor_secundario .contenido{
    color: white;
}
.cuerpo_mision .contenedor_secundario .titulo{
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: solid white 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}
.cuerpo_mision .contenedor_secundario .contenido{
    width: 400px;
    height: 180px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

/*logros*/
.contenedor_logros{
    color: #F97316;
    text-align: justify;
}
.contenedor_logros .titulo{
    border-bottom: solid white 2px;
    font-size: 2em;
    font-weight: bold;
}
.contenedor_logros .contenedor_secundario{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.contenedor_logros .contenedor_secundario .cohete_img{
    transform: rotate(45deg);
    margin-right: 50px;
}
.contenedor_logros .contenedor_secundario .cohete_img img{
    max-width: 125px;
}
.contenedor_logros .contenedor_secundario .descripcion_logros ul{
    list-style: circle;
    margin-left: 50px;
    color: white;
    font-size: 20px;
}


/*cuerpo de proyectos despega bolivia*/

.cuerpo_proyectos{
    display: flex;
    flex-direction: column;
}
.cuerpo_proyectos .titulo{
    font-size: 2em;
    color: #F97316;
    border-bottom: 2px white solid;
    font-weight: bold;
}

.cuerpo_proyectos .lista_proyectos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.cuerpo_proyectos .lista_proyectos .proyecto{
    background-color: white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.cuerpo_proyectos .lista_proyectos .titulo_proyecto{
    color: white;
    font-size: 16px;
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: rgba(0, 0, 0, .6); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    top: -100%;
}
.cuerpo_proyectos .lista_proyectos .proyecto:hover .titulo_proyecto{
    top:0;
    cursor: pointer;
}
.cuerpo_proyectos .lista_proyectos .proyecto img{
    position: absolute;
    transition: all 0.8s;
}
.cuerpo_proyectos .lista_proyectos .proyecto:hover img{
    transform: scale(1.09);
}

/*DISEÑO DEL CUERPO DE PROGRAMAS DE DESPEGA BOLIVIA*/

.cuerpo_programas{
    display: flex;
    flex-direction: column;
    
}
.cuerpo_programas .titulo{
    font-size: 2em;
    color: #F97316;
    font-weight: bold;
    border-bottom: 2px white solid;
}
.cuerpo_programas .principal_contenedor{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuerpo_programas .principal_contenedor .contenedor{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.cuerpo_programas .principal_contenedor .contenedor .logo_programa{
    background-color: white;
    border-radius: 50%;
    margin-right: 30px;
}
.cuerpo_programas .principal_contenedor .contenedor .logo_programa img{
    width: 150px;
    max-width: 250px;
    border-radius: 50%;
}
.cuerpo_programas .principal_contenedor .contenedor .contenido{
    color: white;
}
.cuerpo_programas .principal_contenedor .contenedor .contenido .titulo_contenido{
    font-size: 2em;
    color: #F97316;
    margin-bottom: 10px;
}
.cuerpo_programas .principal_contenedor .contenedor .contenido .desc_contenido{
    font-size: 18px;
    text-align: justify;
}

.cuerpo_programas .contenedor_img img{
    max-width: 300px;

    animation-name: up_down;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes up_down{
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-30px) scaleY(1);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15px) scaleY(1);
    }
}