/* -> Media-queries para celulares pequeños*/
@media only screen and (min-width: 320px) and (max-width: 400px) {
   .responsive--title {
      font-size: 22px; /* Reducir el tamaño del título para pantallas en este rango */
   }
   .responsive--p {
      font-size: 15px;
   }
   .responsive--astro {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 130px;
      margin-top: 1px;
      padding-top: 20px;
      text-align: center;
      line-height: 100px; /* Centrar verticalmente el texto */
      transform: translate(-50%, -50%);
   }
   .responsive--button {
      margin-top: 180px;
      padding: 10px 30px;
   }

   .no--flex {
      display: block;
   }
   .mar--corto {
      margin-top: 0;
      margin-bottom: 0;
   }

   .flex--adaptativo{
      display: flex;
      flex-direction: column;
   }
   .ecard--adaptativo{
      width: 90%;
      height: 550px;
      margin: 0px 15px;
   }
   .p--card{
      padding: 50px 20px;
   }
   .wave {
      position: absolute;
      width: 540px;
      height: 700px;
      opacity: 0.6;
      left: 0;
      top: 0;
      margin-left: 0;
      margin-top: -460px;
      background: linear-gradient(744deg, #04032B,#04032B 60%,#04032B);
    }
    .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 0px;
  }
  .astro--responsive{
   padding-top: 30px;
  }
  .card--adaptativo{
   width: 50%;
   margin-bottom: 30px;
  }
  .card--adaptativo__img{
   width: 60px;
  }
  .card--adaptativo__img img{
   width: 30px;
   margin: 0px 15px;
  }
  .card--adaptativo__text{
   font-size: 1rem;
   padding: 0;
  }

  .astro--responsive2{
   width: 150px;
   margin-top: 30px;
  }
  .block--margin{
   margin: 20px 0px;
  }

/* -> Media-queries para celulares estandar*/
@media only screen and (min-width: 400px) and (max-width: 640px) {
   .responsive--title {
      font-size: 20px; /* Reducir el tamaño del título para pantallas en este rango */
   }
   .responsive--p {
      font-size: 15px;
   }
   .responsive--astro {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 150px;
      margin-top: 1px;
      padding-top: 10px;
      text-align: center;
      line-height: 100px; /* Centrar verticalmente el texto */
      transform: translate(-50%, -50%);
   }
   .responsive--button {
      margin-top: 240px;
      padding: 10px 30px;
   }

   .no--flex {
      display: block;
   }
   .mar--corto {
      margin-top: 0;
      margin-bottom: 0;
   }
   .padd--corto {
      padding-left: 50px;
      padding-right: 50px;
   }
}
}